<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBus2AAMY3mXqlH63woLRzLhzEEgzmmdl8</string>
	<key>GCM_SENDER_ID</key>
	<string>699164222259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exspendMobileApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>expsend-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>expsend-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699164222259:ios:6e9f63ae0cd6064c6d1446</string>
</dict>
</plist>